// GLOBAL VARIABLES

$primary-bg: #000;
$primary-text-color: #FF3B3B;
$nav-hover-color: #FF3B3B;
$header-height: 50px;
$global-padding: 5px;
$breakpoint: 768px;
$secondary-text-color: rgb(255, 255, 255);
$header-text-color: rgb(52, 123, 239);
$norwal-text-color: rgb(169, 50, 246);
$even-row: rgb(51, 51, 51);
$odd-row: rgb(0, 0, 0);

// END GLOBAL VARIABLES



// FONT SETTINGS

@font-face {
	font-display: swap;
	font-family: Gotham;
	src: url(/fonts/Gotham-Light.otf) format("opentype")
}

@font-face {
	font-display: swap;
	font-family: Gotham;
	font-weight: 700;
	src: url(/fonts/Gotham-Bold.otf) format("opentype")
}

@font-face {
	font-display: swap;
	font-family: Gotham Medium;
	src: url(/fonts/Gotham-Medium.otf) format("opentype")
}

@font-face {
	font-display: swap;
	font-family: Gotham Book;
	src: url(/fonts/Gotham-Book.otf) format("opentype")
}



// GLOBAL STYLES

body {
	background-color: $primary-bg;
	margin: 0;
	font-family: Gotham,Helvetica,Arial,sans-serif;
	&:first-child {
		margin-bottom: $header-height;
	}
}

h1,
h2,
h3,
h4,
h5,
p {
	color: $primary-text-color;
}

.even-row {
	background-color: $even-row;
}

.odd-row {
	background-color: $odd-row;
}

nav {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	width: 100%;
	padding: $global-padding;
	margin: 0px;
	background-color: #222;

	.logo {
		height: $header-height;
	}

	.expand-nav {
		display: none;
	}

	.nav-items {
    display: flex;
		align-items: center;
		a {
			color: $secondary-text-color;
			padding-right: 15px;
			text-decoration: none;
			&:hover {
				color: $nav-hover-color;
				text-decoration: underline;
			}
		}
	}
}

.column {
	flex: 1;
	//border: 1px solid white;
}

.content-section {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.errorState {
	border: 1px solid red;
}

// END GLOBAL STYLES



// COMPONENT STYLES

.comments {
	color: $secondary-text-color;
	background-color: #222;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	
	.labels, .list {
		display: flex;
		div:first-child {
			flex: 3;
		}		
		div {
			flex: 1;
		}
		.comment, .from-user {
			padding: 8px;
		}
		.rating {
			background-color: #232323;
			border: 1px solid #444;
			width: fit-content;
			padding: 8px;
			margin-top: 5px;
			.rate-down {
				margin-left: 8px;
			}
		}
	}

	.labels {
		flex-direction: row;
		font-weight: 800;
	}

}

// END COMPONENT STYLES



// CONTENT SECTIONS

.section1 {
	padding-top: $global-padding + $header-height;

	.cta-text {
		font-size: 2rem;
		padding: 1em;
		h1 {
			font-family: Gotham Book,Helvetica,Arial,sans-serif;
			color: $header-text-color;
		}
		p {
			color: $primary-text-color;
		}
	}

	.image {
	//	max-width: 50%;
		display: flex;
		justify-content: center;

		img {
			width: 100%;
			height: 100%;
		}
	}
}

.section2 {
	.form-container {
		font-size: 2rem;
		padding: 1em;
		align-self: flex-start;
		text-align: center;

		h2 {
			font-size: .85em;
			text-align: center;
			margin-block-start: 0.83em;
			margin-block-end: 0.83em;
			margin-inline-start: 0px;
			margin-inline-end: 0px;
		}
	}
}

// END CONTENT SECTIONS



// FORM STYLES REPURPOSED FROM KINK.COM

.submit-button {
	text-shadow: 1px 1px 2px #000;
	border: 0;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-family: Gotham,Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-size: 1rem;
	max-width: 100%;
	padding: .625rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
	max-width: 500px;
	background-color: #d72029;
	margin: 0px auto;
	margin-top: 15px;
}

input {
	border: 0;
	border-radius: 2px;
	box-shadow: inset 0 2px 3px 0 rgba(0,0,0,.5);
	color: #000;
	font-family: Gotham,Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-size: 1rem;
	height: 38.4px;
	height: 2.4rem;
	padding: 0 0 0 .5rem;
	width: 100%;
	max-width: 500px;
}



// RESPONSIVE OVERRIDES

@media (max-width: 768px) {
	.content-section {
		display: block;
		color: red;
	}

	nav {
		position: fixed;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-content: center;
		width: 100%;
		padding: $global-padding;
		margin: 0px;
		background-color: #222;
	
		.logo {
			height: $header-height;
		}
	
		.nav-items {
			display: none;
		}

		.expand-nav {
			display: block;
			margin-right: 15px;
		}
	}

}