{% extends "layout.njk" %}

{% block content %}

<!-- CTA COPY & IMAGE CONTENT SECTION -->
<section class="content-section section1">
  <div class="column cta-text">
    <h1>Narwallian Jousting</h1>
    <p>Esquisite and forbidden, feast on forbidden aquadic pegging like you've never seen dreamed of before! Extreme poly species humiliation with no holding back. The safe word is "cuttlefish".</p>

  </div>
  <div class="column image">
    <image src="assets/placeholder.png" />
  </div>
</section>
<!-- END CTA COPY & IMAGE CONTENT SECTION -->


<!-- FORM AND COMMENTS CONTENT SECTION -->
<section class="content-section section2">
  <div class="column form-container">
    <h2>ADD A COMMENT</h2>
    {% if formData %}
    <div class="submission-success">COMMENT ADDED</div>
    {% endif %}
    <form method="post" id="commentForm"  action="/" name="commentForm">
      <input name="username" placeholder="username" tabindex="1" />
      <input name="comment" placeholder="comment" tabindex="2" />
      <button class="submit-button" type="submit">Submit</button>
    </form>
  </div>

  <!-- COMMENTS BLOCK -->
  <div class="column comments">
    <div class="labels">
      <div>Comment</div>
      <div>Name</div>
    </div>

      <!-- FORM SUBMISSION FEEDBACK BLOCK -->
      {% if formData %}
        <div class="list">
          <div class="comment odd-row" id="comment0">
            <div class="body">
              {{ formData.comment }}
              <div class="rating">
                <span class="rate-up" title="Like">👍 0</span><span class="rate-down" title="Dislike">👎 0</span>
              </div>
            </div>
          </div>
          <div class="from-user odd-row">
            <div class="author">{{ formData.username }}</div>
            <div class="date"><i>{{ formData.timestamp }}</i></div>      
          </div>    
        </div>        
      {% endif %}
      <!-- END FORM SUBMISSION FEEDBACK BLOCK -->  


    <div class="list">
      <div class="comment even-row" id="comment1">
        <div class="body">
          Mona and I are pee-buddies: last I checked in, she couldn't pee in front of a crowd, and, goes what -- NEITHER COULD I. What a bummer.-Hades
          <div class="rating">
            <span class="rate-up" title="Like">👍 10</span><span class="rate-down" title="Dislike">👎 0</span>
          </div>
        </div>
      </div>
      <div class="from-user  even-row">
        <div class="author">vvlaovich777</div>
        <div class="date"><i>Aug 10, 2020</i></div>      
      </div>    
    </div>

    <div class="list">
      <div class="comment odd-row" id="comment2">
        <div class="body">
          When they named you, "Mona", it was very prescient! For you are TRULY, THE "MONA Lisa"of Pornography. A very beautiful, Satanic Seductress, Siren of Salaciousness, Daughter of the Devil and Lure of Lilith. Satan is proud of you, as are we, your loyal fans here worldwide!
          <div class="rating">
            <span class="rate-up" title="Like">👍 8</span><span class="rate-down" title="Dislike">👎 1</span>
          </div>
        </div>
      </div>
      <div class="from-user odd-row">
        <div class="author">satansrylee</div>
        <div class="date"><i>Jun 17, 2020</i></div>      
      </div>    
    </div>

    <div class="list">
      <div class="comment even-row" id="comment3">
        <div class="body">
          So fucking good, loved the public humiliation and then her taking him back and fisting his ass and making him cum.
          <div class="rating">
            <span class="rate-up" title="Like">👍 0</span><span class="rate-down" title="Dislike">👎 0</span>
          </div>
        </div>
      </div>
      <div class="from-user even-row">
        <div class="author">shadowp1ay</div>
        <div class="date"><i>Jun 3, 2020</i></div>      
      </div>    
    </div>

    <div class="list">
      <div class="comment odd-row" id="comment2">
        <div class="body">
          When they named you, "Mona", it was very prescient! For you are TRULY, THE "MONA Lisa"of Pornography. A very beautiful, Satanic Seductress, Siren of Salaciousness, Daughter of the Devil and Lure of Lilith. Satan is proud of you, as are we, your loyal fans here worldwide!
          <div class="rating">
            <span class="rate-up" title="Like">👍 4</span><span class="rate-down" title="Dislike">👎 0</span>
          </div>
        </div>
      </div>
      <div class="from-user odd-row">
        <div class="author">satansrylee</div>
        <div class="date"><i>Jun 17, 2020</i></div>      
      </div>    
    </div>

    <div class="list">
      <div class="comment even-row" id="comment3">
        <div class="body">
          I can give this 5 out of 5 stars, just because of Mona Wales is doing on the cover of this shoot)
          <div class="rating">
            <span class="rate-up" title="Like">👍 12</span><span class="rate-down" title="Dislike">👎 7</span>
          </div>
        </div>
      </div>
      <div class="from-user even-row">
        <div class="author">tmnt20082</div>
        <div class="date"><i>Apr 3, 2020</i></div>      
      </div>    
    </div>
  </div>
  <!-- END COMMENTS BLOCK -->
  <!-- END FORM AND COMMENTS CONTENT SECTION -->  
</section>
{% endblock %}
