<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ pageTitle }}</title>
	<link rel="stylesheet" href="/css/main.css"/>
	<link rel="preload" href="/fonts/Gotham-Light.otf" as="font" type="font/otf" crossorigin="anonymous">	
	<link rel="preload" href="/fonts/Gotham-Bold.otf" as="font" type="font/otf" crossorigin="anonymous">	
	<link rel="preload" href="/fonts/Gotham-Medium.otf" as="font" type="font/otf" crossorigin="anonymous">	
	<link rel="preload" href="/fonts/Gotham-Book.otf" as="font" type="font/otf" crossorigin="anonymous">	
</head>
<body>
  <nav>
		<div class="nav-logo"><img class="logo" src="assets/logo.png" /></div>
		<div class="nav-items">
			<a href="#">Categories</a>
			<a href="#">Videos</a>		
			<a href="#">Login</a>
		</div>
		<div class="expand-nav">
			<img src="assets/new-hamburger-icon.png" />
		</div>
	</nav>
	{% block content %}{% endblock %}
<footer>
	{% block footer %}{% endblock %}
</footer>
</body>
</html>
